In [1]:
import pandas as pd
import os

#Read CSV file and convert to Panda dataframe

In [2]:
stations_pd = pd.read_csv('hawaii_stations.csv')
stations_pd = stations_pd.sort_values('name')
stations_pd

,station,name,latitude,longitude,elevation
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5

In [3]:
len(stations_pd['station'])

9

In [4]:
measurements_pd = pd.read_csv('hawaii_measurements.csv')
measurements_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
len(measurements_pd['station'])

19550

#Clean data series

In [6]:
clean_measurements_pd = measurements_pd.dropna()
clean_measurements_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [7]:
len(clean_measurements_pd['station'])

18103

#Save clean data to new CSV file

In [8]:
os.system('touch clean_measurements.csv')

clean_measurements_pd.to_csv('clean_measurements.csv')

clean_measurements_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70